﻿@using WMProduct.Areas.Product
@model WMProduct.Areas.Product.ProductViewModel

<h1>Add product to json</h1>

@* update ide na home controller   *@
<form asp-action="AddToJson" asp-controller="Product" method="post">
    <div class="container">
        <input type="hidden" asp-for="Id" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <label asp-for="Name"></label>
        <input asp-for="Name" placeholder="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
        <br />
        <span asp-validation-for="Description" class="text-danger"></span>
        <label asp-for="Description"></label>
        <input asp-for="Description" placeholder="Description" />
        <span asp-validation-for="Description" class="text-danger"></span>
        <br />
        <span asp-validation-for="Category" class="text-danger"></span>
        <label asp-for="Category"></label>
        <input asp-for="Category" placeholder="Category" />
        <span asp-validation-for="Category" class="text-danger"></span>
        <br />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
        <label asp-for="Manufacturer"></label>
        <input asp-for="Manufacturer" placeholder="Manufacturer" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
        <br />
        <span asp-validation-for="Supplier" class="text-danger"></span>
        <label asp-for="Supplier"></label>
        <input asp-for="Supplier" placeholder="Supplier" />
        <span asp-validation-for="Supplier" class="text-danger"></span>
        <br />
        <span asp-validation-for="Price" class="text-danger"></span>
        <label asp-for="Price"></label>
        <input asp-for="Price" placeholder="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
        <br />
        <input type="submit" value="Add" />
    </div>
</form>
