﻿@using WMProduct.Areas.Product
@model List<ProductViewModel>

<div class="row">
    <div class="container content">
        <div>
            <ul>
                @foreach (var c in Model)
                {
                    <li>Name: @($"{c.Name}")</li>
                    <li>Description: @($"{c.Description}")</li>
                    <li>Supplier: @($"{c.Supplier}")</li>
                    <li>Manufacturer: @($"{c.Manufacturer}")</li>
                    <li>Price: @($"{c.Price}")</li>
                }
            </ul>
        </div>
    </div>
</div>