﻿<div class="text-center">
    <a asp-action="Update">Create New Product</a>
    <div>
        <ul>
            @foreach (var c in Model)
            {
<li>@($"{c.Name} - {c.Name}")<a asp-action="Update" asp-route-id="@c.Id">Update</a></li>
}
        </ul>
    </div>
</div>

<a asp-action="ProductReader">Products from json</a>
<a asp-action="AddProductToJson">Add product to json</a>
